# Telegram Bot Configuration    | WITHOUT bot. in the token
TELEGRAM_BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# Webhook Configuration
WEBHOOK_URL=https://your-domain.com/customer/project/index.php


# Database Configuration
DB_ENABLED=false
DB_HOST=127.0.0.1
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASS=your_database_password


# Redis Configuration (optional, if you enable it)
REDIS_BASE_KEY=project_base_key
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=